:root {
    --green: #29bf12;
    --black: #212121;
    --white: #ffffff;
    --blue: #1D3557;
    --red: #E63946;
  }

  body{
    background-color: #000000;
  padding: 0px;
  margin: 0px;
}

.gradient
    {
    width: 100%;
     height: 800px;
 padding: 0px;
 margin: 0px;
}
* {
    margin: 0;
    padding: 0;
  }

.container_pro {
    width: 100%;
    height: 100%;
}

.wrapper {
    display: flex;
    padding: 16px 88px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    }

.header_titulo {
    color: var(--black, #212121);
    /* web/h2-bold */
    font-family: Rubik;
    font-size: 39.06px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.iconos {
    text-decoration: none;
    color: var(--blue, #1D3557);

    /* web/paragraph-large-regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.Login {
    text-decoration: none;
    color: #000;

    /* web/paragraph-large-regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.item-menu {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.header_content {
    display: flex;
    padding: 16px 0px;
    align-items: center;
    gap: 97px;

}

.main_content {
    display: flex;
    height: 520px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.hero {

    align-items: flex-start;
    align-self: stretch;
    
}

.hero .background-img {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://steamuserimages-a.akamaihd.net/ugc/933813375174251954/E70364C2F8661478D3D229BC774B09508C29CF1E/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
  border-radius: 20px;
  background-size: cover;

}

.hero_content {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 160px 0 160px 0;
  align-items: center;
}

.hero_content h1, p {
  color: #fff;
  text-align: center;
  font-family: Poppins, sans-serif;
}

.hero_butoom {
  padding: 16px;
  background-color: #e63946;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
}

.title_footer p {
    color: var(--black, #212121);

    /* web/paragraph-large-bold */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.title_footer h4 {
    color: var(--black, #212121);

    /* web/h4-bold */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.decripcion_footer p {
    color: var(--black, #212121);

    /* web/paragraph-large-regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.title_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}

.decripcion_footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    background-color: #00FF7B;
    padding: 16px;
    border-radius: 16px;
}

.tex h5 {
    color: var(--black, #212121);

    /* web/h5-bold */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
/*ponerle bordes*/
.materiales_min {
    display: flex;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    background-color: #00FF7B;
    padding: 16px;
    border-radius: 16px;
}

.materiales_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.materiales {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
}

.footer_content {
    display: flex;
    padding: 80px 0px;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}


/*tops*/

.trabajos_tex span {
    color: var(--black, #212121);
    text-align: center;

    /* web/h5-regular */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.trabajos_tex h4 {
    color: var(--black, #212121);
    text-align: center;

    /* web/h4-bold */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.trabajos_tex p {
    color: var(--black, #212121);
    text-align: center;

    /* web/paragraph-large-regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.trabajos_tex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.trabajos_content {
    background-image: url(https://www.montajesaluviarte.com/wp-content/uploads/Ventanas.jpg);
    height: 200px;
    width: 300px;
    border-radius: 20px;
    background-size: cover;
}

.trabajos_content h5 {
    color: var(--blue, #1D3557);

    /* web/h5-bold */
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
    

.trabajos_max {
    display: flex;
    width: 312px;
    height: 240px;
    padding: 16px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.trabajos_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.tipos_trabajos {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.tops_content  {
    display: flex;
    padding: 80px 100px;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    align-self: stretch;
}

.personal_tex h4 {
    color: var(--black, #212121);
    text-align: center;

    /* web/h4-bold */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.personal_tex p {
    color: var(--black, #212121);
    text-align: center;
    
    /* web/paragraph-large-regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.personal_datos span {
    color: var(--black, #212121);
    text-align: center;

    /* web/paragraph-large-bold */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 150% */
}

.personal_datos p {
    color: var(--black, #212121);
    text-align: center;

    /* web/paragraph-regular-regular */
    font-family: Poppins;
    font-size: 10.24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 214.844% */
}

.personal_datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.personal_trabajo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.personal_principal {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
}

.personal_content {
    display: flex;
    padding: 80px 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    align-self: stretch;
}

.personal_trabajo img {
    border-radius: 56px;
    width: 312px;
    height: 312px;
    flex-shrink: 0;
    display: flex;
    width: 312px;
    height: 312px;
    justify-content: center;
    align-items: center;
    padding: 32px;
}

/*mejorar lo de arriba
darle un mejor espacio y decorado */

.final_tex h4 {
    color: var(--white, #FFF);
    text-align: center;

    /* web/h4-bold */
    font-family: Poppins;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.final_tex p {
    color: var(--white, #FFF);
    text-align: center;

    /* web/paragraph-large-regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.final_tex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

.pedidos_ya  {
    color: var(--white, #FFF);
    text-align: center;

    /* web/paragraph-large-regular */
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    border-radius: 8px;
    background: var(--blue, #1D3557);
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
}

.final_content {
    display: flex;
    padding: 32px 16px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--red, #E63946);
}